*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

*::selection {
    background-color: #000;
    color: #fff;

}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #f7f7f7;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: darkgoldenrod;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
}

#page1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    padding-top: 16vh;
}

#page1 h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15.8vw;
    line-height: 12vw;
    letter-spacing: -15px
}

#video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1vw;
    position: relative;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    padding: 2.2vw 1.5vw;
    font-size: 1.2vw;
    background-color: #000;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    position: fixed;
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 31%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
}

#page2 .elem .dets {
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);
}

#page3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.child{
    height: 55vh;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.child img{
    height: 100%;
}

@media (max-width: 600px) {

#page1{
    min-height: 100vh;
    width: 100%;
    padding: 0 3vw;
    padding-top: 24vh;
}

#page1 h1 {
    font-size: 16vw;
    line-height: 14vw;
    letter-spacing: -1px
}

#video-container {
    height: 60vh;
    margin-top: 2vw;
}

#video-container #play {
    padding: 6.5vw 4.5vw;
    font-size: 5vw;
    top: 50%;
    left: 50%;
    position: absolute;
    opacity: 1;
    scale: 1;
    transform: translate(-50%, -50%);
}

#page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5vw 3vw;
    flex-direction: column;
    justify-content: space-between;
}

#page2 .elem {
    height: 100vh;
    width: 95%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vw;
}

#page2 .elem .dets {
    height: 40px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    z-index: 9;
    background-color: rgb(229, 156, 186);
}

}